In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [3]:
## lets see the oof

oof_df = pd.read_csv("../prediction/binary_v3_SED/oof.csv")
oof_df.head()

   itemid  hasbird  prediction
0   20019        1    0.866411
1  126762        1    0.913721
2  169947        0    0.040477
3   38396        0    0.093162
4  157863        0    0.054438

In [5]:
## oof RMSE calculation
print(
    "OOF MSE",
    mean_squared_error(
        oof_df["hasbird"],
        oof_df["prediction"],
    ),
)

OOF MSE 0.06402963296384684

In [6]:
## 10 sec soundscape predictions
T10_df = pd.read_csv("../prediction/binary_v3_SED/train_soundscape_10_sec.csv")
T10_df.head()

              itemid  hasbird  prediction
0   10534_SSW_sec_30        1    0.573342
1  10534_SSW_sec_130        1    0.467359
2  10534_SSW_sec_230        1    0.893014
3  10534_SSW_sec_330        1    0.902125
4  10534_SSW_sec_430        1    0.800448

In [14]:
print(T10_df["prediction"].min(), T10_df["prediction"].max())

0.05398064 0.96378314

In [7]:
print(
    "T10_df MSE",
    mean_squared_error(
        T10_df["hasbird"],
        T10_df["prediction"],
    ),
)

T10_df MSE 0.21163000913793112

In [8]:
## 5 sec soundscape predictions
T5_df = pd.read_csv("../prediction/binary_v3_SED/train_soundscape_5_sec.csv")
T5_df.head()

             itemid  hasbird  prediction
0    7019_COR_sec_5        0    0.388604
1   7019_COR_sec_55        0    0.280017
2  7019_COR_sec_105        0    0.208610
3  7019_COR_sec_155        0    0.274508
4  7019_COR_sec_205        0    0.549422

In [9]:
print(
    "T5_df MSE",
    mean_squared_error(
        T5_df["hasbird"],
        T5_df["prediction"],
    ),
)

T5_df MSE 0.18257665906096587

In [13]:
print(T5_df["prediction"].min(), T5_df["prediction"].max())

0.13869117 0.8534163

## Idea

can we combine both 10sec and 5sec inorder to calcuate the presence of bird